/* Header Animation */

.description,
.header_img img {
    opacity: 1;
}

.header_img img {
    transform: translateX(100%);
    transition: transform 3s ease-out, opacity 3s ease-out;
}

.digital,
.description p:nth-of-type(2) {
    transform: translateY(-100%);
    transition: transform 3s ease-out, 3s ease-out;
}

.description p:first-of-type,
.contactus {
    transform: translateX(-100%);
    transition: transform 3s ease-out, opacity 3s ease-out;
}

/* Visible Animations */
.description.visible .digital,
.description.visible p:nth-of-type(2),
.description.visible p:first-of-type,
.description.visible .contactus {
    transform: translateX(0) translateY(0);
}

.header_img img.visible {
    opacity: 1;
    transform: translateX(0);
}



/* Initial Animations */
.service,
.service-text,
.owl-carousel,
.service-info {
    opacity: 1;
    transition: transform 3s ease-out, 3s ease-out;
}

.service-info {
    transform: translateY(-100%);
}

.service-info-2 {
    transform: translateX(-100%);
}

.service-text {
    transform: translateX(100%);
}


/* Visible Animations */
.service.visible .service-info,
.service.visible .service-info-2,
.service-text.visible,
.owl-carousel.visible {
    opacity: 1;
    transform: translateX(0) translateY(0);
}

.owl-carousel.visible {
    opacity: 1;
    transition: opacity 3s ease-out;
}



/* Initial Animations */
.select-us,
.select-us-2,
.features,
.our-project-img img,
.our-project-card {
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.select-us {
    transform: translateY(-100%);
}

.select-us-2 {
    transform: translateX(-100%);
}

.features-left {
    transform: translateX(-100%);
}

.features-right {
    transform: translateX(100%);
}

.our-project-img img,
.our-project-card {
    transition: opacity 1s ease-out;
}

.visible {
    opacity: 1;
    transform: translateX(0) translateY(0);
}

.visible-delay {
    opacity: 1;
    transform: translateX(0) translateY(0);
    transition-delay: 3s;
}

.features.visible {
    opacity: 1;
    transform: translateX(0);
}

.features-left.visible {
    transform: translateX(0);
}

.features-right.visible {
    transform: translateX(0);
}

